@media (max-width: 950px) {

  nav {
    font-size: 1em;
    height: 100%;
    width: 100%;
  }

  h6 {
    font-size: 1em;
  }

  #friend-weekly-steps {
    font-size: .9em;
  }

  
  .friend-1 span,
  .friend-2 span,
  .friend-3 span,
  .friend-4 span,
  .friend-5 span {
    color: #6e6e6e;
    font-size: 1em;
  }

}