// Media Query for screen size over 1500px;

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 50px;
  width: 94.5%;

  h1 {
    font-size: 2em;
    margin: 0.4em 0;
  }

  li {
    color: #d4d4d4;
    font-size: 96%;
    font-weight: 700;
  }
}

main {
  width: 100%;

  .widget--container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2px; 
  }
  
  .article--widget {
    align-items: center;
    background-color: var(--box-background);
    border-radius: 4px;
    box-shadow: 10px 10px 30px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
  }

  .man-icon {
    width: 430px;
  }

  .step-icon {
    height: 180px;
    margin: 75px 8.25% 0 8.25%;
  }

}
